/part11-Part11_11.ValidatingParameters/target/
/part11-Part11_12.SensorsAndTemperature/target/
/part11-Part11_13.SaveableDictionary/target/
/part12-Part12_01.Hideout/target/
/part12-Part12_02.Pipe/target/
/part12-Part12_03.SumTheseForMe/target/
/part12-Part12_04.List/target/
/part12-Part12_05.HashMap/target/
/part12-Part12_06.Numbers/target/
/part12-Part12_07.Die/target/
/part12-Part12_08.Lottery/target/
/part12-Part12_09.ArrayAsAString/target/
/part12-Part12_10.MagicSquare/target/
